{% extends 'list.html' %}
{% load i18n %}
{% load static %}

{% block list_head %}
<script src="{% static 'user/js/list.js' %}" xmlns=""></script>
{% endblock %}

{% block columns %}
<tr>
    <th scope="col" style="width:5%;">#</th>
    <th scope="col" style="width:15%;">Nombres</th>
    <th scope="col valor" style="width:15%;">Username</th>
    <th scope="col valor" style="width:20%;">Fecha de registro</th>
    <th scope="col valor" style="width:10%;">Imagen</th>
    <th scope="col valor" style="width:15%;">Gupos</th>
    <th scope="col valor" style="width:15%;">Opciones</th>
</tr>
{% endblock %}

{% block rows %}

{% endblock %}

{%block javascript %}

{% endblock %}