{% extends 'forms.html' %}
{% load static %}
{% load i18n %}
{% block card-form %}
<div class="row">
    <input type="hidden" name="action" value="{{action}}">
    <div class="form-group mb-3 col-12 col-xs-12 col-sm-12 col-md-5 col-lg-3 col-xl-3">
        <div class="row"></div>
        <div class="row">
            <div class="form-group mb-3 col-12 text-center">
                {% if request.user.image %}
                <img class="img-fluid mx-auto d block image-user" src="{{request.user.image.url}}"
                     style="width: 180px; height:180px; border-radius:5px;">
                {% endif %}
                {% if not request.user.image %}
                <img class="img-fluid mx-auto d block image-user" src="{% static 'img/user.png' %}"
                     style="width: 150px; height:150px;">
                {% endif %}
            </div>
            <div class="form-group mb-3 col-12 text-center">
                <div class="row">
                    <div class="form-group col-6 text-right">
                        <label class="btn btn-success btn-sm" for="fileInput">
                            <i class="fas fa-image"></i>
                            <input class="d-none" id="fileInput" name="image" type="file" accept="image/*">
                        </label>
                    </div>
                    <div class="form-group col-6 text-left">
                        <button class="btn btn-danger btn-sm image-user-delete" type="button">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group mb-3 col-12 col-xs-12 col-sm-12 col-md-7 col-lg-9 col-xl-9">
        <div class="row">
            <div class="form-group mb-3 col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label for="input1">Nombre</label>
                {{form.first_name}}
            </div>
            <div class="form-group mb-3 col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label for="input1">Apellidos</label>
                {{form.last_name}}
            </div>
        </div>
        <div class="row">
            <div class="form-group mb-3 col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label for="input1">Nombre de usuario</label>
                {{form.username}}
            </div>
            <div class="form-group mb-3 col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label for="input1">Contraseña</label>
                {{form.password}}
            </div>
        </div>
        <div class="row">
            <div class="form-group mb-3 col-12">
                <label for="input1">Correo eletronico</label>
                {{form.email}}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javaScript_form %}
<script>
    $('.image-user-delete').on('click', function(){
         var img = '/static/img/user.png'
         $('.image-user').attr('src', img);
    })
</script>
<script>
    $('#fileInput').change(function() {
        var input = this;
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function(e) {
            $('.image-user').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
        }
      });
</script>
<script>
    {% if form.errors %}
        var errors = '';
        {% for field in form %}
            {% for error in field.errors %}
                errors += '{{error}}\n';
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            errors += '{{error}}\n\n';
        {% endfor %}
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: errors,
    });
    {% endif %}
    $('form').on('submit', function(e){
        e.preventDefault();
        var parameters = new FormData(this);
            alert_confirm(window.location.pathname,'Notificacion', '¿Estas de actualizar tus datos?', parameters, function(){
               Swal.fire({
                  title: 'Alerta',
                  text: 'Datos actualisados corretamente',
                  icon: 'success',
                  timer: 3000,
                  onClose: () => {
                    location.href = '{{ url_link }}'
                  }
                });
            });
    });
</script>
{% endblock %}