{% extends 'list.html' %}
{% load static %}
{% load i18n %}
{% block list_head %}
<script src="{% static 'expenses/js/list.js' %}" xmlns=""></script>
{% endblock %}

{% block columns %}
<tr>
    <th scope="col">#</th>
    <th scope="col">Descripción</th>
    <th scope="col valor">Fecha del ingreso</th>
    <th scope="col valor">Categoría</th>
    <th scope="col valor">Estado</th>
    <th scope="col valor">Monto</th>
    <th scope="col valor">Iva (%)</th>
    <th scope="col valor">Total Iva</th>
    <th scope="col valor">Total</th>
    <th>Opciones</th>
</tr>
{% endblock %}

{% block rows %}

{% endblock %}

{%block javascript %}

{% endblock %}