{% extends 'login/base_login.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
<div class="register-box" style="width: 600px;">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a class="h1" href="{% url 'login' %}"><b>Cost Control</b>S.A.</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Nuevo Registro</p>
            <form action="." class="needs-validation" enctype="multipart/form-data" method="POST">
                <input type="hidden" name="action" value="{{action}}">
                <div class="row">
                    <div class="form-group mb-3 col-6">
                         <label for="input1">Nombre <span class="text-danger">*</span> </label>
                         <div class="input-group">
                        {{form.first_name}}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-signature"></span>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="form-group mb-3 col-6">
                        <label for="input1">Apellidos <span class="text-danger">*</span> </label>
                        <div class="input-group">
                        {{form.last_name}}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-file-signature"></span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group mb-3 col-6">
                         <label for="input1">Correo eletronico <span class="text-danger">*</span> </label>
                    <div class="input-group">
                        {{form.email}}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="form-group mb-3 col-6">
                         <label for="input1">Nombre de usuario <span class="text-danger">*</span> </label>
                    <div class="input-group">
                        {{form.username}}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group mb-3 col-6">
                         <label for="input1">Contraseña <span class="text-danger">*</span> </label>
                    <div class="input-group">
                        {{form.password}}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="form-group mb-3 col-6">
                         <label for="input1">Seleccione un foto de perfil</label>
                    <div class="input-group">
                        <div class="custom-file">
                            {{form.image}}
                            <label class="custom-file-label" for="customFile" id="name_img">Seleccione una imagen</label>
                        </div>
                    </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary btn-block" type="submit">Registrarse</button>
                    </div>

                </div>
            </form>
            <a class="text-center" href="{% url 'login' %}">¿Ya tienes una cuenta?</a>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
  $('#customFile').change(function() {
    var archivoInput = $(this);
    var labelArchivo = $('#name_img');
    if (archivoInput.val()) {
      labelArchivo.text(archivoInput.val().replace(/.*[\/\\]/, ''));
    } else {
      labelArchivo.text('Seleccione una imagen');
    }
  });
});
</script>
<script src="{% static 'js/myForm.js' %}"></script>
<script>
      {% if form.errors %}
        var errors = '';
        {% for field in form %}
            {% for error in field.errors %}
                errors += '{{error}}\n';
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            errors += '{{error}}\n\n';
        {% endfor %}
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: errors,
    });
    {% endif %}
    $('form').on('submit', function(e){
        e.preventDefault();
        var parameters = new FormData(this);
        alert_confirm(window.location.pathname,'Notificacion', '¿Estas seguro de registrase en la plataforma?', parameters, function(){
           Swal.fire({
              title: 'Alerta',
              text: 'Registro exitoso',
              icon: 'success',
              timer: 3000,
              onClose: () => {
                location.href = '{{url_link}}'
              }
            });
        });
    });
</script>
{% endblock %}